        /*Selector niversal *  */
        *{
            margin:0;
            padding:0;
            list-style: none;
            font-family: sans-serif;
        }
        #chat{
            position:fixed; /*el valor fixed es un valor que nos permite agarrar una caja y pegarla ala pantalla */
            width:250px;
            height:46px;
            background:magenta;
            bottom:0;
            right:20px;
            z-index: 1; /*Nos permite manejar lass cajas en ejes de profundidad, todas vienen por defecto en 0*/
            color:white;
            text-align:center;
            line-height:40px;
            font-family: 'Indie Flower', cursive;
            font-size:20px;
            border-radius:20px 20px 0 0;/*Border radius en las esquinas superiores der e izq. */
            cursor:pointer;/*Cambia el cursor para indicar de que esto se trata de un boton */
        }

        /*Margin: se puede ubicar en 4 coordenadas
        Top, Right, Bottom y Left.
        por ejemplo margin: 20px 30px 40px 50px
        tambien se pueden utilizar con 2 coordenadas
        margin: vertical y horizontal
        por ejemplo: margin:20px auto
        si solo colocamos una cordenada estamos diciendo que tenga un margen al rededor
        por ejemplo margin:20px, si solo queremos darle un margen a un lado seria
        margen: 0px 0px 0px 20px o de margin-left:20px o margin-top:20px, esto solo para
        especificar direccion del margen*/
        header{
            /*position para cajas principales es relativo*/
            /*si se quiere sentrar se usa margen automatica.*/
            /*la posicion relativa los margenes se organizan en 2 coordenadas: top y left*/
            position: relative;
            margin:20px auto; /*da espacio en top y bottom de 20px, right y left sigue auto*/
            width:1000px;
            height:120px;
            /*background:#444;    */        
        }

        #logo{
            /* la posicion absoluta usa top, left, bottom, right y 
            para ubicarla podemos jugar con ellos, el top y bot no pueden estar
            al mismo tiempo asi como left y right no deben estar al mismo tiempo*/
            position: absolute;/*Nos permite ubicar una caja interna dentro de una caja principal*/
            top:30px;
            left:30px;
            width:200px;
            height:60px;
           /* background:#ccc;*/
            font-family: 'Indie Flower', cursive;
            font-size: 50px;
            text-align:center;
            line-height:60px;
        }
        .redes{
            position: absolute;
            width:42px;
            height:42px;
            background:#ccc;
            border-radius:100%;
            text-align:center;
            line-height:42px;
            color:white;
        }
        #icono1{
            top:42px;
            right:120px;
            background: blue;
        }
        #icono2{
            top:42px;
            right:71px;
            background: green;
        }
        #icono3{
            top:42px;
            right:19px;
            background: red;
        }


        nav{
            position:relative;
            margin:auto;
            width:1000px;
            height:48px;
            /*background:#aaa;*/
        }
        .botones{
            /*hace flotar ese listado que esta en vertical lo hace flotar a nivel horizontal*/
            float:left; /*el left lo hace de izquierda a derecha*/
            width:196px; /*Como le sume 2 pixeles a right y left, le reste 4 para que no se salga de la escala*/
            height:48px;
            background: rgb(58, 8, 122);
            margin:0px 2px; /*Genera diviciones entre la barra de botones*/
            font-family: 'Indie Flower', cursive;
            text-align: center;
            line-height: 48px;
            color:white;
        }
        /*Se añade una seudo clase a botones llamada hover, que significa que cuando el mouse
        este pasando por ensima de los botones suceda algo */
        a .botones:hover{
            background:rgba(100,0,254,.4)
        }
        /*Se añade la seudo clase a botones llamada active, que significa que cuando haga clic
        suceda algo*/
        a .botones:active{
            background:rgba(255,0,100,1)
        }

        #top{
            position:relative;
            margin:20px auto;
            width:1000px;
            height:192px;
            
        }
        #top ul{
            width:1010px;
            height:192px;
            
        }

        #top ul li{
            float:left;
            width:326.6px;
            height:192px;
            /*background:#ccc;*/
            margin-right: 10px;
            text-align:center;

        }
        #top ul li img{
            border-radius:100%;
            height:100px;

        }
        #top ul li h1{
            font-family: 'Indie Flower', cursive;

        }
        #top ul li p{
            font-size: 14px;
            margin:10px
            
        }

        section{
            position:relative;
            margin:auto;
            width:1000px;
            height:453px;
            /*background:#aaa;*/
        }
        /*llamamos el id izq de la caja aside  */
        aside#izq{
            position: absolute;
            top:0px;
            left:0px;
            width:200px;
            height:453px;
            /*background:#000*/
        }
        aside#izq ul li{
            background:lightgray;
            padding:10px;
            margin:2px 10px;
            list-style:square;
            list-style-position:inside;
            list-style-image:url(img/lista.png);
            
        }
        aside#izq ul li a{
            text-decoration:none;/*Decimos que no tengan linea por abajo*/
        }
        article{           
            position: absolute;
            left:200px;
            top:0;
            width:600px;
            height:453px;
            /*background:#666 */       
        }
        article h1{
            font-family: 'Indie Flower',cursive;
            font-size:40px;
            margin:10px;
        }
        article p img{
            float:left;
            margin-right: 10px;
        }
        article p{
            margin:5px 10px;
            font-size: 14px;
            text-align: justify;
        }
        aside#der{
            position: absolute;
            top:0px;
            right:0px;
            width:200px;
            height:453px;
            /*background:#000*/
        }
        aside#der h1{
            width:200px;
            height:50px;
            line-height:50px;
            text-align:center;
            background:rgba(58,8,122,1);
            color:white;
            margin-bottom:5px;
        }
        aside#der input{
            padding:10px;
            margin:5px 0px;
            width:176px;
        }
        /*Se llama al input que tenga el atributo text*/
        aside#der input[type="text"]{
            background:url(img/usuario.png);
            background-repeat:no-repeat;
            background-position:right;
            background-size:contain;
        }
        aside#der input[type="password"]{
            background:url(img/password.png);
            background-repeat:no-repeat;
            background-position:right;
            background-size:contain;
        }
        aside#der input[type="submit"]{
            width:200px;
            background:rgba(50,10,250,.5);
            border:0;
        }
       
        footer{
            position:relative;
            margin:20px auto;
            width:1000px;
            height: 70px;
            background:rgba(58, 8, 122,1);
            text-align:center;
            line-height: 70px;
            color:white;
        }
